@import url('../../assets/css/cabecalho/cabecalho.css');
@import url('../../assets/css/cabecalho/cabecalho-navegacao.css');
@import url('../../assets/css/cabecalho/cabecalho-logo.css');
@import url('../../assets/css/cabecalho/cabecalho-pesquisa.css');
@import url('../../assets/css/cabecalho/cabecalho-input.css');
@import url('../../assets/css/cabecalho/cabecalho-botao.css');
@import url('../../assets/css/cabecalho/cabecalho-videos.css');

@import url('../../assets/css/videos/videos.css');
@import url('../../assets/css/videos/videos-item.css');
@import url('../../assets/css/videos/videos-descricao.css');
@import url('../../assets/css/videos/videos-imagem.css');
@import url('../../assets/css/videos/videos-titulo.css');
@import url('../../assets/css/videos/videos-visualizacao.css');

@import url('../../assets/css/formulario/container.css');
@import url('../../assets/css/formulario/formulario.css');
@import url('../../assets/css/formulario/formulario-titulo.css');
@import url('../../assets/css/formulario/formulario-campo.css');
@import url('../../assets/css/formulario/formulario-etiqueta.css');
@import url('../../assets/css/formulario/formulario-escrita.css');
@import url('../../assets/css/formulario/formulario-botao.css');

@import url('../../assets/css/mensagem/mensagem.css');
@import url('../../assets/css/mensagem/mensagem-titulo.css');
@import url('../../assets/css/mensagem/mensagem-imagem.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --azul-claro: #E5F1FF;
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --branco: #FFFFFF;
    --cinza-claro: #ECECEC;
    --cinza-texto: #444444;
    --fonte-principal: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--azul-claro);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
}